In [1]:
import pandas as pd

In [2]:
df_net = pd.read_csv('netflix_titles.csv')
df_net

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
df_imdb = pd.read_csv('imdb.csv')
df_imdb = df_imdb.drop(['Poster_Link', 'Gross', 'No_of_Votes'], axis=1)
cast = df_imdb['Star1'] +', ' + df_imdb['Star2'] +', ' + df_imdb['Star3'] +', ' + df_imdb['Star4']
pd.DataFrame(cast)
df_imdb['cast'] = cast
df_imdb.drop(['Star1', 'Star2', 'Star3', 'Star4'], axis=1)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,cast
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi..."
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke..."
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M..."
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian..."
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ..."
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,"Audrey Hepburn, George Peppard, Patricia Neal,..."
996,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,"Elizabeth Taylor, Rock Hudson, James Dean, Car..."
997,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,"Burt Lancaster, Montgomery Clift, Deborah Kerr..."
998,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,"Tallulah Bankhead, John Hodiak, Walter Slezak,..."
999,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,"Robert Donat, Madeleine Carroll, Lucie Mannhei..."

In [4]:
df_rot = pd.read_csv('rot_tmt.csv')
df_rot = df_rot[['movie_title', 'rotten_tomatoes_link', 'directors', 'authors', 'original_release_date', 'genres']]
df_rot

,movie_title,rotten_tomatoes_link,directors,authors,original_release_date,genres
0,Percy Jackson & the Olympians: The Lightning T...,m/0814255,Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan",2010-02-12,"Action & Adventure, Comedy, Drama, Science Fic..."
1,Please Give,m/0878835,Nicole Holofcener,Nicole Holofcener,2010-04-30,Comedy
2,10,m/10,Blake Edwards,Blake Edwards,1979-10-05,"Comedy, Romance"
3,12 Angry Men (Twelve Angry Men),m/1000013-12_angry_men,Sidney Lumet,Reginald Rose,1957-04-13,"Classics, Drama"
4,"20,000 Leagues Under The Sea",m/1000079-20000_leagues_under_the_sea,Richard Fleischer,Earl Felton,1954-01-01,"Action & Adventure, Drama, Kids & Family"
...,...,...,...,...,...,...
17707,Zoot Suit,m/zoot_suit,Luis Valdez,Luis Valdez,1981-10-02,"Drama, Musical & Performing Arts"
17708,Zootopia,m/zootopia,"Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston",2016-03-04,"Action & Adventure, Animation, Comedy"
17709,Zorba the Greek,m/zorba_the_greek,NaN,NaN,1964-12-17,"Action & Adventure, Art House & International,..."
17710,Zulu,m/zulu,"Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble",1964-06-17,"Classics, Drama"
17711,Zulu Dawn,m/zulu_dawn,Douglas Hickox,"Cy Endfield, Anthony Storey",1979-12-14,"Action & Adventure, Art House & International,..."

In [5]:
dataset = pd.DataFrame()

cast = df_net['cast'] + df_imdb['cast'] + df_rot['authors']
dataset['Cast'] = cast
dataset.dropna(inplace=True)

all_casts = dataset['Cast'].str.split(',')

flattened_casts = [name.strip() for sublist in all_casts for name in sublist]

name_counts = pd.Series(flattened_casts).value_counts()

repeated_names = name_counts[name_counts > 1]

def remove_duplicates(cast_list):
    if isinstance(cast_list, list):
        return ', '.join(sorted(set(name.strip() for name in cast_list)))
    return None

dataset['Unique_Cast'] = dataset['Cast'].str.split(',').apply(remove_duplicates)
dataset
#ta tudo errado

,Cast,Unique_Cast
1,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...","Al Pacino, Ama Qamata, Arno Greeff, Cindy Mahl..."
2,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...","Aaron Eckhart, Bakary DiomberaChristian Bale, ..."
4,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...","Ahsaas Channa, Alam Khan, Arun KumarHenry Fond..."
5,"Kate Siegel, Zach Gilford, Hamish Linklater, H...","Alex Essoe, Annabeth Gish, Annarah Cymone, Cry..."
6,"Vanessa Hudgens, Kimiko Glenn, James Marsden, ...","Alfred Hitchcock, Bruce WillisAlma Reville, Ch..."
...,...,...
993,"Jessie Mei Li, Archie Renaux, Ben Barnes, Fred...","Amita Suman, Archie Renaux, Ben Barnes, Calaha..."
994,"Bisola Aiyeola, Efa Iwara, Molawa Onajobi, Tin...","Bisola Aiyeola, Danny Cannon, Efa Iwara, Georg..."
996,"Go Ayano, Ryo Narita, Yukino Kishii, Anna Ishi...","Anna Ishii, Carroll BakerRichard Matheson, Go ..."
998,"Ma Anand SheelaTallulah Bankhead, John Hodiak,...","Albert S. Ruddy, Becky Johnston, Charles Finch..."
999,"Anna Kendrick, Toni Collette, Daniel Dae Kim, ...","Anna Kendrick, Daniel Dae Kim, Godfrey TearleN..."

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from scipy import stats

# 1. Carregar os datasets
df_netflix = pd.read_csv('netflix_titles.csv')
df_imdb = pd.read_csv('imdb.csv')
df_rottentomatoes = pd.read_csv('rot_tmt.csv')

# Exibir as primeiras linhas para verificar
print(df_netflix.head(), df_imdb.head(), df_rottentomatoes.head())

# 2. Verificar e limpar os dados
# Verificar valores nulos
print(df_netflix.isnull().sum())
print(df_imdb.isnull().sum())
print(df_rottentomatoes.isnull().sum())

# 3. PreparaÃ§Ã£o dos dados
# Renomear colunas para facilitar a junÃ§Ã£o
df_imdb.rename(columns={'movie_title': 'title', 'released_year': 'release_year'}, inplace=True)
df_rottentomatoes.rename(columns={'Series_Title': 'title', 'original_release_date': 'release_year'}, inplace=True)

# Combinar datasets com base no tÃ­tulo e ano de lanÃ§amento
combined_data = pd.merge(df_netflix, df_imdb, on=['title', 'release_year'], how='inner')
combined_data = pd.merge(combined_data, df_rottentomatoes, on=['title', 'release_year'], how='inner')

# Separar elencos e remover espaÃ§os
combined_data['cast_netflix'] = combined_data['cast_netflix'].str.split(',').apply(lambda x: [name.strip() for name in x])
combined_data['cast_imdb'] = combined_data['cast_imdb'].str.split(',').apply(lambda x: [name.strip() for name in x])
combined_data['cast_rottentomatoes'] = combined_data['cast_rottentomatoes'].str.split(',').apply(lambda x: [name.strip() for name in x])

# 4. IdentificaÃ§Ã£o de atores em comum
def common_actors(row):
    return list(set(row['cast_netflix']).intersection(row['cast_imdb'], row['cast_rottentomatoes']))

combined_data['common_actors'] = combined_data.apply(common_actors, axis=1)

# 5. AnÃ¡lise ExploratÃ³ria de Dados (EDA)
# Calcular o nÃºmero de atores em comum por filme
combined_data['num_common_actors'] = combined_data['common_actors'].apply(len)

# VisualizaÃ§Ã£o: DistribuiÃ§Ã£o de atores em comum
sns.histplot(combined_data['num_common_actors'], bins=10)
plt.title("DistribuiÃ§Ã£o de Atores em Comum")
plt.xlabel("NÃºmero de Atores em Comum")
plt.ylabel("FrequÃªncia")
plt.show()

# 6. AplicaÃ§Ã£o de RegressÃ£o Linear
# VariÃ¡veis: NÃºmero de atores em comum e a avaliaÃ§Ã£o no IMDb
X = combined_data[['num_common_actors']]
y = combined_data['imdb_score']  # Supondo que esta coluna exista no dataset

# Modelo de RegressÃ£o Linear
reg = LinearRegression().fit(X, y)
print(f"Coeficiente: {reg.coef_}, Intercepto: {reg.intercept_}")

# 7. Teste de HipÃ³teses
# Separar filmes com muitos e poucos atores em comum
high_common_actors = combined_data[combined_data['num_common_actors'] > 3]
low_common_actors = combined_data[combined_data['num_common_actors'] <= 3]

# Teste T para comparar as mÃ©dias de avaliaÃ§Ãµes entre os dois grupos
t_stat, p_value = stats.ttest_ind(high_common_actors['imdb_score'], low_common_actors['imdb_score'])
print(f"Teste T: {t_stat}, Valor p: {p_value}")

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...                                            Poster_Link  \
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...

               Series_Title Released_Year Certificate  Runtime  \
0  The Shawshank Redemption          1994           A  142 min
1             The Godfather          1972           A  175 min
2           The Dark Knight          2008          UA  152 min
3    The Godfather: Part II          1974           A  202 min
4              12 Angry Men          1957           U   96 min

                  Genre  IMDB_Rating  \
0                 Drama          9.3
1          Crime, Drama          9.2
2  Action, Crime, Drama          9.0
3          Crime, Drama          9.0
4          Crime, Drama          9.0

                                            Overview  Meta_score  \
0  Two imprisoned men bond over a number of years...        80.0
1  An organized crime dynasty's aging patriarch t...       100.0
2  When the menace known as the Joker wreaks havo...        84.0
3  The early life and career of Vito Corleone in ...        90.0
4  A jury holdout attempts to prevent a miscarria...        96.0

               Director           Star1           Star2          Star3  \
0        Frank Darabont     Tim Robbins  Morgan Freeman     Bob Gunton
1  Francis Ford Coppola   Marlon Brando       Al Pacino     James Caan
2     Christopher Nolan  Christian Bale    Heath Ledger  Aaron Eckhart
3  Francis Ford Coppola       Al Pacino  Robert De Niro  Robert Duvall
4          Sidney Lumet     Henry Fonda     Lee J. Cobb  Martin Balsam

            Star4  No_of_Votes        Gross
0  William Sadler      2343110   28,341,469
1    Diane Keaton      1620367  134,966,411
2   Michael Caine      2303232  534,858,444
3    Diane Keaton      1129952   57,300,000
4    John Fiedler       689845    4,360,000                       rotten_tomatoes_link  \
0                              m/0814255
1                              m/0878835
2                                   m/10
3                 m/1000013-12_angry_men
4  m/1000079-20000_leagues_under_the_sea

                                         movie_title  \
0  Percy Jackson & the Olympians: The Lightning T...
1                                        Please Give
2                                                 10
3                    12 Angry Men (Twelve Angry Men)
4                       20,000 Leagues Under The Sea

                                          movie_info  \
0  Always trouble-prone, the life of teenager Per...
1  Kate (Catherine Keener) and her husband Alex (...
2  A successful, middle-aged Hollywood songwriter...
3  Following the closing arguments in a murder tr...
4  In 1866, Professor Pierre M. Aronnax (Paul Luk...

                                   critics_consensus content_rating  \
0  Though it may seem like just another Harry Pot...             PG
1  Nicole Holofcener's newest might seem slight i...              R
2  Blake Edwards' bawdy comedy may not score a pe...              R
3  Sidney Lumet's feature debut is a superbly wri...             NR
4  One of Disney's finest live-action adventures,...              G

                                              genres          directors  \
0  Action & Adventure, Comedy, Drama, Science Fic...     Chris Columbus
1                                             Comedy  Nicole Holofcener
2                                    Comedy, Romance      Blake Edwards
3                                    Classics, Drama       Sidney Lumet
4           Action & Adventure, Drama, Kids & Family  Richard Fleischer

                                      authors  \
0  Craig Titley, Chris Columbus, Rick Riordan
1                           Nicole Holofcener
2                               Blake Edwards
3                               Reginald Rose
4                                 Earl Felton

                                              actors original_release_date  \
0  Logan Lerman, Brandon T. Jackson, Alexandra Da...            2010-02-12
1  Catherine Keener, Amanda Peet, Oliver Platt, R...            2010-04-30
2  Dudley Moore, Bo Derek, Julie Andrews, Robert ...            1979-10-05
3  Martin Balsam, John Fiedler, Lee J. Cobb, E.G....            1957-04-13
4  James Mason, Kirk Douglas, Paul Lukas, Peter L...            1954-01-01

   ...      production_company  tomatometer_status tomatometer_rating  \
0  ...        20th Century Fox              Rotten               49.0
1  ...  Sony Pictures Classics     Certified-Fresh               87.0
2  ...             Waner Bros.               Fresh               67.0
3  ...    Criterion Collection     Certified-Fresh              100.0
4  ...                  Disney               Fresh               89.0

  tomatometer_count  audience_status  audience_rating audience_count  \
0             149.0          Spilled             53.0       254421.0
1             142.0          Upright             64.0        11574.0
2              24.0          Spilled             53.0        14684.0
3              54.0          Upright             97.0       105386.0
4              27.0          Upright             74.0        68918.0

   tomatometer_top_critics_count  tomatometer_fresh_critics_count  \
0                             43                               73
1                             44                              123
2                              2                               16
3                              6                               54
4                              5                               24

   tomatometer_rotten_critics_count
0                                76
1                                19
2                                 8
3                                 0
4                                 3

[5 rows x 22 columns]
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64
Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64
rotten_tomatoes_link                   0
movie_title                            0
movie_info                           321
critics_consensus                   8578
content_rating                         0
genres                                19
directors                            194
authors                             1542
actors                               352
original_release_date               1166
streaming_release_date               384
runtime                              314
production_company                   499
tomatometer_status                    44
tomatometer_rating                    44
tomatometer_count                     44
audience_status                      448
audience_rating                      296
audience_count                       297
tomatometer_top_critics_count          0
tomatometer_fresh_critics_count        0
tomatometer_rotten_critics_count       0
dtype: int64

KeyError: 'title'

In [13]:
df_netflix
#title
df_rottentomatoes
#movie_title
df_imdb
#Series_Title

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN